/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font), monospace, sans-serif;
	background-color: var(--secondary-color);
	background-image: url(../images/cover-image-dark.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.header {
  padding: 10px;
  position: relative;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: '';
	position: absolute;
  block-size: 25px;
	inline-size: 25px;
	border-inline-end: 1px solid var(--accent-color);
	border-block-start: 1px solid var(--accent-color);
	inset-block-start: 10px;
	inset-inline-end: 10px;
}

.decorated-zone::after {
  content: '';
	position: absolute;
  block-size: 25px;
	inline-size: 25px;
	border-inline-start: 1px solid var(--accent-color);
	border-block-end: 1px solid var(--accent-color);
	inset-block-end: 10px;
	inset-inline-start: 10px;
}

.header__design-rec {
  position: absolute;
  inset-inline-end: 38px;
  inset-block-start: 12px;
  color: var(--accent-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.header__design-rec::after {
  content: '';
  display: inline-block;
  position: absolute;
  inset-inline-end: -19px;
  inset-block-start: 6px;
  block-size: 10px;
  inline-size: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.header__theme-menu-list {
  display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 11px;
	margin-block-start: 63px;
  margin-block-end: 70px;
}

.header__theme-menu-item {
  color: var(--accent-color);
}

.header__theme-menu-button {
  text-transform: lowercase;
  border: none;
	padding-inline: 12px;
	font-weight: 400;
	font-size: 18px;
	font-style: normal;
	line-height: 23.4px;
	background-color: initial;
	cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__title {
  font-family: monospace;
  font-size: var(--font-size-mobile);
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  margin-block-end: 52px;
  letter-spacing: 5px;
}

.header__text {
  font-family: monospace;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 1px;
} 

.main {
  padding: 40px 10px 0 10px;
  margin-block-end: 47px;
}

.main__block {
  margin-block-end: 51px;
}

.main__block-title {
  color: var(--accent-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  margin-block-end: 19px;
}

.main__block-title-info {
  color: var(--secondary-color);
  background-color: var(--accent-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; 
  letter-spacing: 1px;
  margin-block-end: 8px;
}

.decoration-text {
  font-weight: 400;
}

.title-decor {
  margin-block-end: 18px;
}

.main__block-description {
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.5px;
  letter-spacing: 0.9px;
  margin-block-end: 19px;
}

.text-shadow {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.text-shadow:hover {
  border-block-end: 1px solid var(--text-color);
}

.text-shadow:focus {
  outline: none;
  border: 1px solid var(--text-color);
}

.main-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-gallery img {
  inline-size: 100%;
  block-size: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  padding: 0 15px;
  min-block-size: 667px;
}

.footer__title {
  display: flex;
  justify-content: center;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-size: var(--font-size-mobile);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  padding-block-start: 290px;
  letter-spacing: 4px;
}