/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font), monospace, sans-serif;
	background-color: var(--secondary-color);
	background-image: url(../images/cover-image-dark.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.header {
  padding: 10px;
  position: relative;
}

.decorated-zone {

}

.decorated-zone::before {
  content: '';
	position: absolute;
  block-size: 25px;
	inline-size: 25px;
	border-inline-end: 1px solid var(--accent-color);
	border-block-start: 1px solid var(--accent-color);
	inset-block-start: 10px;
	inset-inline-end: 10px;
}

.decorated-zone::after {
  content: '';
	position: absolute;
  block-size: 25px;
	inline-size: 25px;
	border-inline-start: 1px solid var(--accent-color);
	border-block-end: 1px solid var(--accent-color);
	inset-block-end: 10px;
	inset-inline-start: 10px;
}

.header__design-rec {
  position: absolute;
  right: 38px;
  top: 12px;
  color: var(--accent-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.header__design-rec::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: -19px;
  top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px #FF0070);
}

.header__theme-menu {
}

.header__theme-menu-list {
  
}

.header__theme-menu-item {
  
}

.header__theme-menu-button {
}

.header__theme-menu-button_type_light {
}

.header__theme-menu-button_active {
}

.header__theme-menu-button_type_auto {
}

.header__theme-menu-button_type_dark {
}

.header__title {
  font-size: var(--font-size-mobile);
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  margin-bottom: 55px;
}

.header__text {
  color: var(--secondary-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--accent-color);
}
