/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --text-section-color: #000028;
  --background-color: #000028;
  --decorated-zone-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --buttons-color: #ff0070;
  --main__block-title-color: #ff0070;
  --font-family: 'IBM Plex Mono', monospace;
  --background-image: url(../images/cover-image-dark.png);
}