/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --secondary-color: #000028;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --main-font: 'IBM Plex mono';
  --font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}
